
@{
    ViewData["Title"] = "Home";
}

<body style="background-color: #f8f9fa">
    <nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0">
        <a class="navbar-brand ml-2" asp-controller="Admin" asp-action="Home">
            <img src="~/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Geek Store">
            Geek Store
        </a>
        <form asp-controller="Account" asp-action="Logout">
            <button type="submit" class="btn btn-danger">
                Sign out
            </button>
        </form>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Admin" asp-action="Home">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="Orders">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                                Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="Products">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                                Products
                            </a>
                        </li>
                        
                    </ul>

                    
                    
                </div>
            </nav>
            
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

                <div class="flex-row" style="margin-bottom:10px!important;">
                    <div class="d-flex flex-row" style="align-items:center; color:white;background-image: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);padding-left:40px;padding-right:40px;margin-top:20px; margin:15px;height:120px; border-radius:20px; background-color:white;">

                        <i class="fab fa-opencart fa-3x mr-3"></i>
                        <div class="d-flex flex-column mt-3">
                            <h3>@Model.Orders</h3>
                            <p style="color: rgba(255, 255, 255, 0.6)!important;" class="text-muted">Sales</p>
                        </div>

                    </div>
                    <div class="d-flex flex-row"  style="align-items:center;background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%); color:white!important;padding-left:40px;padding-right:40px;margin-top:20px; margin:15px;height:120px; border-radius:20px; background-color:white;">

                            <i class="fas fa-dollar-sign fa-3x mr-3"></i>
                        <div class="d-flex flex-column mt-3 ml-3">

                            <h3>@Model.Money₴</h3>
                            <p class="text-muted" style="color: rgba(255, 255, 255, 0.6)!important;">Revenue</p>
                        </div>

                    </div>
                    <div class="d-flex flex-row" style="align-items:center;background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%); color:white!important;padding-left:40px;padding-right:40px;margin-top:20px; margin:15px;height:120px; border-radius:20px; background-color:white;">

                            <i class="fas fa-user-friends fa-3x mr-3"></i>
                        <div class="d-flex flex-column mt-3">

                            <h3>@Model.Users</h3>
                            <p style="color: rgba(255, 255, 255, 0.6)!important;" class="text-muted">Users registered</p>
                        </div>

                    </div>
                </div>
                <div  class=" ml-sm-auto  pt-3 px-4" style="border-radius:20px; background-color:white;">

                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h1 class="h2">@ViewBag.Name</h1>
                        
                    </div>

                    <canvas id="myChart"></canvas>

                   
                </div>



            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    

    <script>

        let d = new Date();
        var ctxL = document.getElementById("myChart").getContext('2d');
        var myLineChart = new Chart(ctxL, {
            type: 'line',
            data: {

                labels: [
                   "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
                ],
                datasets: [{
                    label: "Orders",
                    data: [


                        "@Model.CountOrders[0]","@Model.CountOrders[1]","@Model.CountOrders[2]","@Model.CountOrders[3]","@Model.CountOrders[4]","@Model.CountOrders[5]","@Model.CountOrders[6]",
                        "@Model.CountOrders[7]","@Model.CountOrders[8]","@Model.CountOrders[9]","@Model.CountOrders[10]","@Model.CountOrders[11]"


                    ],
                    backgroundColor: [
                        'rgba(105, 0, 132, .2)',
                    ],
                    borderColor: [
                        'rgba(200, 99, 132, .7)',
                    ],
                    borderWidth: 2
                },
                {
                    label: "Registers",
                    data: [
                        "@Model.CountUserProfiles[0]","@Model.CountUserProfiles[1]","@Model.CountOrders[2]","@Model.CountUserProfiles[3]","@Model.CountUserProfiles[4]","@Model.CountUserProfiles[5]","@Model.CountUserProfiles[6]",
                        "@Model.CountUserProfiles[7]","@Model.CountUserProfiles[8]","@Model.CountOrders[9]","@Model.CountUserProfiles[10]","@Model.CountUserProfiles[11]"
                    ],
                    backgroundColor: [
                        'rgba(0, 137, 132, .2)',
                    ],
                    borderColor: [
                        'rgba(0, 10, 130, .7)',
                    ],
                    borderWidth: 2
                }

                ]
            },
            options: {
                responsive: true
            }
        });
    </script>


</body>
